.cardsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);     gap: 32px;
    gap: 40px;
    padding: 0px 4px;
}

.cardSection  {
    max-width: 1376px;
    margin: 0px auto;
}

.title {
    color: var(--color-white);
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}

.carouselToggleButton {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    background-color: var(--color-black);
    border: none;
    color: #34C94B;
    cursor: pointer;
}


.topCardsSection {
    margin-bottom: 40px;
}
